.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;

}




.container {
    width: 80%;
    margin: auto;
    padding: 10px;
}
.one {
    width: 50%;
    float: left;
    border-color: black;
    border-style: solid;
    margin-right: 10px;
}
.two {
    margin-left: 50%;
    border-color: black;
    border-style: solid;
    padding-left: 10px;
}

.signupFieldType {
    width: 50%;
    float: left;
}
.signupField {
    margin-left: 50%;
}

.invalid {
  color: red;
}

.entry {
  border-color: black;
  border-style: solid;
}